<!DOCTYPE html>
<html>
<head>
	<title>Base</title>
</head>
<body>

	<h1>Fruits Data</h1>

	
	<form action="prediction" method="POST" enctype="multipart/form-data">
		<input type="text" name="mass", placeholder="Enter Mass"><br><br>
		<input type="text" name="width", placeholder="Enter Width"><br><br>
		<input type="text" name="height", placeholder="Enter Height"><br><br>
		<input type="text" name="color_score", placeholder="Enter Color Score"><br><br>
		<input type="submit" name="btn">
	</form>

</body>
</html>